*{
	font-family: 'Arial';
    margin:0;
    padding: 0;
}
body{
    border-top: 7vh transparent solid;
    margin:12px;
}

/*Cabeçalho*/
nav{
    width: 100%;
    height: 10vh;
    top: 0;
    border-bottom: 2px #000000 solid;
    align-items: center;
    display: inline-flex;
    position: fixed;
    background-color: white;
}
nav a{
    text-decoration: none;
}
.login{
    margin:0;
    color:#000000;
    border-right: 2px #000000 solid;
    padding-right: 3vh;
}
.login h1{
    padding: 1vh;
    padding-right: 3vh;
    border-radius: 5px;
    transition: .4s;
    font-size: 4vh;
}
.login h1:hover{
    color:white;
    background-color: rgb(207, 145, 28);
}
.carrinho{
    margin-right: 10px;
    margin-left:auto;
    float:right;
}
/*Fim do cabeçalho*/

.imagemI{
    background-image: url(../imagem/wallpaper.avif);
    background-position-y: 90vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
}

.Ptitulo{
    color: rgb(207, 145, 28);
    margin-left: 10%;
    font-size: 9vh;
}
.classeP{
    align-items: center;
    width: 50%;
    margin-left: 31%;
    font-size: 25px;
}
.classeP a{
    text-decoration: none;
    color:#000000;
    transition:.2s;
}
.classeP a:hover{
    color:rgb(207, 145, 28);
}
.classeP ul{
    list-style: none;
    width: 100%;
}
.classeP ul li{
    display: inline-block; 
    padding-right: 8.75%;
}
.classeP ul:last-child li{
    padding-right: 12.5%;
}

/*Círculos*/
.dot1 {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dot2 {
    height: 200px;
    margin-left: 10%;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dot3 {
    height: 200px;
    margin-left: 10%;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.dot4    {
    height: 200px;
    margin-left: 10%;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
