nav *{
    font-family: 'Arial';
    margin:0;
    padding: 0;
}
nav{
    width: 100%;
    height: 10vh;
    left:0%;
    top: 0;
    border-bottom: 2px #000000 solid;
    align-items: center;
    display: inline-flex;
    position: fixed;
    background-color: white;
    padding-left: 2vh;
}
nav a{
    text-decoration: none;
}
.carrinho{
    padding-right: 60px;
    transition: .4s;
}
.carrinho img{
    transition: .4s;
}
.carrinho:hover{
    padding-right: 10px;
    padding-left: 50px;
    img{
        rotate: -25deg;
    }
}
.parede{
    height: 50px;
    width: 2px;
    background-color: #000000;
}
.inicio h1{
    color:rgb(207, 145, 28);
    transition: .4s;
    border-radius: 5px;
}
.inicio:hover{
    h1{
    margin-left: 15px;
    background-color: rgb(207, 145, 28);
    color:white;
    padding-inline: 5px;
    }
}
.login{
    margin:0;
    color:#000000;
    margin-right: 3.5vh;
    margin-left:auto;
    float:right;
    padding: 1vh;
    border-radius: 5px;
    transition: .4s;
    font-size: 2.5vh;
}
.login:hover{
    color:white;
    background-color: rgb(207, 145, 28);
}