*{
	font-family: 'Arial';
}
body{
    border-top: 7vh transparent solid;
}
nav{
    width: 100%;
    height: 8vh;
    top: 0;
    border-bottom: 2px #000000 solid;
    align-items: center;
    display: inline-flex;
    position: fixed;
}
nav a{
    text-decoration: none;
}
.login{
    margin:0;
    color:#000000;
    border-right: 2px #000000 solid;
    padding-right: 3vh;
}
.login h1{
    padding: 1vh;
    padding-right: 3vh;
    border-radius: 5px;
    transition: .4s;
}
.login h1:hover{
    color:white;
    background-color: rgb(207, 145, 28);
}
.carrinho{
    margin:auto;
    float:right;
}
.Ptitulo{
    color: rgb(207, 145, 28);
}
#classeP ul{
    list-style: none;
}
#classP ul li{
    display:inline;
    
}