nav{
    width: 100%;
    height: 10vh;
    left:0%;
    top: 0;
    border-bottom: 2px #000000 solid;
    align-items: center;
    display: inline-flex;
    position: fixed;
    background-color: white;
    padding-left: 2vh;
}
nav a{
    text-decoration: none;
}
.login{
    margin:0;
    color:#000000;
    border-right: 2px #000000 solid;
    padding-right: 3vh;
}
.login h1{
    padding: 1vh;
    padding-right: 3vh;
    border-radius: 5px;
    transition: .4s;
    font-size: 4vh;
}
.login h1:hover{
    color:white;
    background-color: rgb(207, 145, 28);
}
.inicio{
    color:rgb(207, 145, 28);
    transition: .4s;
    border-radius: 5px;
}
.inicio:hover{
    margin-left: 15px;
    background-color: rgb(207, 145, 28);
    color:white;
    padding-inline: 5px;
}
.carrinho{
    margin-right: 10px;
    margin-left:auto;
    float:right;
}