footer{
    width: 100%;
    height: 20vh;
    left:0%;
    margin-top: 4vh;
    background-color: black;
    color:white;
    display: inline-flex;
    align-items: center;
    position:absolute;
}
.info{
    padding:10px;
    width: auto;
}
footer a{
    margin-right: 10px;
    margin-inline:auto;
}